---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: sabnzbd
  annotations:
    volume.kubernetes.io/selected-node: talos-gmp-14k
spec:
  storageClassName: openebs-hostpath
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
