# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi-iscsi
spec:
  chartRef:
    kind: OCIRepository
    name: democratic-csi
  interval: 1h
  values:
    controller:
      driver:
        image:
          tag: next
    csiDriver:
      name: "org.democratic-csi.iscsi"
    storageClasses:
      - &iscsi
        name: iscsi
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: ext4
          detachedVolumesFromSnapshots: "false"
        mountOptions: []
        secrets:
          controller-expand-secret: null
          controller-publish-secret: null
          node-publish-secret: null
          node-stage-secret: null
          provisioner-secret: null
      - <<: *iscsi
        name: iscsi-retain
        reclaimPolicy: Retain
    volumeSnapshotClasses:
      - name: iscsi
        parameters:
          detachedSnapshots: "true"
    driver:
      config:
        driver: freenas-api-iscsi
        httpConnection:
          allowInsecure: true
          host: 192.168.210.251
          port: 443
          protocol: https
          apiKey: ""
        instance_id: null
        iscsi:
          targetPortal: "192.168.255.251:3260"
          targetPortals: []
          interface:
          namePrefix: csi-
          nameSuffix: "-cluster"
          targetGroups:
            - targetGroupPortalGroup: 2
              targetGroupInitiatorGroup: 4
              targetGroupAuthType: None
              targetGroupAuthGroup:
          extentCommentTemplate: "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}"
          extentInsecureTpc: true
          extentXenCompat: false
          extentRpm: "SSD"
          extentBlocksize: 512
          extentAvailThreshold: 0
        zfs:
          datasetParentName: fast/k8s/iscsi/volumes
          detachedSnapshotsDatasetParentName: fast/k8s/iscsi/snapshots
          zvolCompression:
          zvolDedup:
          zvolEnableReservation: false
          zvolBlocksize:
          datasetProperties:
            "org.freenas:description": "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}"
    node:
      driver:
        extraEnv:
          - name: ISCSIADM_HOST_STRATEGY
            value: nsenter
          - name: ISCSIADM_HOST_PATH
            value: /usr/local/sbin/iscsiadm
        iscsiDirHostPath: /var/iscsi
        iscsiDirHostPathType: ''
      hostPID: true
  valuesFrom:
    - kind: Secret
      name: truenas-api-secret
      valuesKey: apiKey
      targetPath: driver.config.httpConnection.apiKey
