# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres17
  namespace: storage
spec:
  instances: 2
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17-1.0.0
  affinity:
    enablePodAntiAffinity: true
    podAntiAffinityType: required

  storage:
    size: 75Gi
    storageClass: iscsi

  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg-secret

  postgresql:
    parameters:
      max_connections: "400"
      shared_buffers: 512MB
      pg_stat_statements.max: "10000"
      pg_stat_statements.track: all
  monitoring:
    enablePodMonitor: true

  resources:
    requests:
      cpu: 500m
      memory: 1Gi
