---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: storage
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: postgres17
    role: primary
