#!/usr/bin/env bash

export KUBECONFIG="$(expand_path ./.kubeconfig)"
export TALOSCONFIG="$(expand_path ./.talosconfig)"
export OMNICONFIG="$(expand_path ./.omniconfig)"
export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"
use devenv
