---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: sonarr-config
spec:
  storageClassName: iscsi-retain
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-config
spec:
  storageClassName: iscsi-retain
  volumeName: sonarr-config
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
