---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smartctl-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: smartctl-exporter
  interval: 1h
  values:
    fullnameOverride: *app
    image:
      # default repo no longer has an arm64 image
      repository: ghcr.io/home-operations/smartctl-exporter
      tag: 0.14.0
    serviceMonitor:
      enabled: true
      relabelings:
        - action: labeldrop
          regex: (pod)
        - sourceLabels: [__meta_kubernetes_endpoint_node_name]
          targetLabel: instance
    prometheusRules:
      enabled: false
