---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: snmp-exporter
  interval: 1h
  values:
    fullnameOverride: *app
    extraArgs:
      - "--config.file=/etc/snmp_exporter/snmp.yml"
    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
    serviceMonitor:
      enabled: true
      params:
        - name: arista-10gbe
          auth: [public_v2]
          module: [system,if_mib,arista_sw]
          target: 192.168.254.11
        - name: arista-100gbe
          auth: [public_v2]
          module: [system,if_mib,arista_sw]
          target: 192.168.254.12
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - sourceLabels: [__param_target]
          targetLabel: instance
