---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thirteen-ft
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: 13ft-ladder
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      app:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/wasi-master/13ft
              tag: 1.3.0@sha256:fffe1204b1c8fac520fc456cad64f0ec74702047e7dae54052e1d71e4ff24088
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
    service:
      app:
        ports:
          http:
            port: 5000
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Services
          gethomepage.dev/name: 13ft
          gethomepage.dev/icon: https://i.imgur.com/kxOLAbO.png
          gethomepage.dev/description: Block ads, paywalls, and other nonsense
        hostnames:
          - 13ft.r7n.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
