---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: satisfactory
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: satisfactory
  values:
    controllers:
      game:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        initContainers:
          install:
            image:
              repository: ghcr.io/krobertson/game-containers/steamcmd
              tag: rolling@sha256:a33d9109de3f8eb14b4beb98aa5a36f6049608062fd8e89623ad559521dd1e7f
            env:
              STEAM_APPID: "1690800"

        containers:
          server:
            image:
              repository: ghcr.io/krobertson/game-containers/base
              tag: stable@sha256:838019f04bab7fd7e12540b9cb29eba544ca30d52ce1d6f1a9ced94e8d6c489a
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]

    service:
      server:
        type: LoadBalancer
        ports:
          server-udp:
            port: 7777
            protocol: UDP
          server-tcp:
            port: 7777
            protocol: TCP
          messaging:
            port: 8888
            protocol: TCP
    persistence:
      scripts:
        type: configMap
        name: satisfactory-scripts
        defaultMode: 0755
        advancedMounts:
          game:
            server:
              - path: /usr/local/bin/run.sh
                subPath: start.sh
                readOnly: true
      game:
        enabled: true
        accessMode: ReadWriteOnce
        storageClass: iscsi
        size: 20Gi
        globalMounts:
          - path: /game
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
