---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mc-router
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: mc-router
  values:
    image:
      repository: ghcr.io/itzg/mc-router
      tag: 1.40.3@sha256:10881cb6b74ebf8957d309f29952ea677eccd1b474d1e106466c94e8890b0788
      pullPolicy: IfNotPresent
    extraArgs:
      - --in-kube-cluster
    services:
      minecraft:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: mc-peaceful.r7n.dev, mc-survival.r7n.dev
