---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-survival
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: minecraft
  values:
    workloadAsStatefulSet: true
    deploymentAnnotations:
      reloader.stakater.com/auto: "true"
    image:
      repository: itzg/minecraft-server
      tag: 2026.2.1-java21@sha256:115f666dac309116d0921549a935f02c2f8e9114282590ad77423ac357319992
    resources:
      limits:
        memory: 4Gi
      requests:
        cpu: 1000m
        memory: 2Gi
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    extraEnv:
      TZ: "America/Los_Angeles"
      INIT_MEMORY: 25%
      MAX_MEMORY: 90%
    persistence:
      storageClass: openebs-hostpath
      dataDir:
        enabled: true
        # WTF: its Size and not size
        Size: 5Gi
    serviceAnnotations:
      mc-router.itzg.me/externalServerName: mc-survival.r7n.dev
      gatus.home-operations.com/endpoint: |-
        group: services
    minecraftServer:
      eula: true
      whitelist: Zerimis
      ops: Zerimis
      pvp: false
      difficulty: normal
      gameMode: survival
      levelType: largebiomes
      rcon:
        enabled: true
    #mcbackup:
    #  enabled: true
    #  resticHostname: testcraft
    #  backupMethod: restic
    #  backupInterval: 1h
    #  pauseIfNoPlayers: "true"
    #  pruneResticRetention: "--keep-daily 7 --keep-weekly 5 --keep-monthly 12 --keep-yearly 75"
    #  resticEnvs:
    #    RESTIC_PASSWORD: password
    #  extraEnv:
    #    RESTIC_REPOSITORY: "s3:http://$(BUCKET_HOST):$(BUCKET_PORT)/$(BUCKET_NAME)"
